.body{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.htitle{
    background-color: brown;
    width:300px;
    margin: auto;
    color: white;
}
.Center{
    text-align: center;
}

.card{
    border: 1px solid lightgray;
    width:300px;
    padding: 10px;
    margin: 10px auto;
    border-radius: 14px;
    
}

.textBox{
    border: 1px solid lightgray;
    width:70%;
    padding: 10px;
    margin: 5px 32px;
    border-radius: 7px;
    
} 
.button{
    border: 1px solid lightgray;
    padding: 10px;
    width: 70%;
    margin: 5px auto;
    background-color: darkslateblue;
    color: white;
    text-align: center;
    border-radius:7px;
}

img{
    width: 100%;
    padding: 2px;
    border-radius: 14px;
}
