.body{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif

}
.htitle{
    background-color: brown;
    width:300px;
    margin: auto;
    color: white;
}
.Center{
    text-align: center;
}

.card{
    border: 1px solid lightgray;
    width:300px;
    /* height:500px; */
    padding: 10px;
    margin: 10px auto;
    border-radius: 14px;
    
}
.card .textBox{
    text-align: center;
    color: gray;
}
.card h4{
    text-align:justify;
    padding: 0px 30px;
    color: gray;
}
.card h2{
    text-align:center;
    /* padding: 0px 30px; */
}
.txtStrong{
    color: black;
}
.textBox{
    border: 1px solid lightgray;
    width:70%;
    padding: 10px;
    margin: 5px 32px; /*why auto does not work*/
    border-radius: 7px;
    
} 
.button{
    border: 1px solid lightgray;
    padding: 10px;
    width: 70%;
    margin: 5px auto;
    background-color: #3bb489;
    color: white;
    text-align: center;
    border-radius:7px;
}

img{
    width: 100%;
    padding: auto;
    border-radius: 14px;
    /* border: 1px solid black; */
    margin: 0px auto;
}
